{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% include "templates/partials/gallery-pswp.twig" %}
		<header class="header" role="banner">
			<div class="header-container container">
				<a href="{{site.url}}" class="logo" rel="home">
					<img src="{{site.theme.link}}/dist/images/logo.png" alt="{{site.name}} logo" class="img-fluid">
				</a>

				<div class="separator"></div>

				<nav class="main-nav">
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</nav>

				<div class="d-md-none ml-auto">
					<a href="#" class="mobile-menu-open">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>

			</div>
		</header>
		<div class="header-placeholder"></div>

		{% block hero %}
			{% include "partials/hero.twig" %}
		{% endblock %}

		<div class="main-container">

			<main class="container pt-5" role="main">
				<div class="row justify-content-center">

					<div class="sidebar col-8 col-md-3">
						{% block title %}
								<h1 class="main-title">{{post.title}}</h1>
						{% endblock %}
					</div>
					<div class="content col-md-9 pt-4">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</main>

			{% block footer %}
				<footer id="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}

		</div>
	</body>
</html>
