{# {{dump()}} #}
{% set id = random() %}
<div id="my-gallery-{{id}}" class="gallery gallery-main">
  {% for img in gallery %}
    <figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <div class="gallery-item-inner">
        <picture>
					<source
						media="(min-width: 1140px)"
						srcset="{{img.src('body_lg')}} 1x,{{img.src('body_lg_retina')}} 2x">
					<source
						media="(min-width: 960px)"
						srcset="{{img.src('body_lg')}} 1x,{{img.src('body_lg_retina')}} 2x">
					<source
						media="(min-width: 720px)"
						srcset="{{img.src('body_md')}} 1x,{{img.src('body_md_retina')}} 2x">
					<source
						media="(min-width: 541px)"
						srcset="{{img.src('body_sm')}} 1x,{{img.src('body_sm_retina')}} 2x">
					<source
						media="(max-width: 540px)"
						srcset="{{img.src('body_sm')}} 1x,{{img.src('body_sm_retina')}} 2x">
					<img src="{{img.src('body_lg')}}" class="img-fluid m-0" alt="{{img.caption}}">
				</picture>
        <figcaption>
        {#   <small><b>{{loop.index}}</b> / <b>{{gallery|length}}</b></small><br>
          <span>{{img.caption}}</span> #}
        </figcaption>
      </div>
    </figure>
  {% endfor %}
</div>

<div class="gallery-nav" data-gallery="my-gallery-{{id}}" aria-hidden="true">
  {% for img in gallery %}
    <figure class="gallery-nav-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <picture>
				<source
					media="(min-width: 1140px)"
					srcset="{{img.src('16/9_1/12_lg')}} 1x,{{img.src('16/9_1/12_lg_retina')}} 2x">
				<source
					media="(min-width: 960px)"
					srcset="{{img.src('16/9_1/12_lg')}} 1x,{{img.src('16/9_1/12_lg_retina')}} 2x">
				<source
					media="(min-width: 720px)"
					srcset="{{img.src('16/9_1/12_md')}} 1x,{{img.src('16/9_1/12_md_retina')}} 2x">
				<source
					media="(min-width: 541px)"
					srcset="{{img.src('16/9_1/12_sm')}} 1x,{{img.src('16/9_1/12_sm_retina')}} 2x">
				<source
					media="(max-width: 540px)"
					srcset="{{img.src('16/9_1/12_sm')}} 1x,{{img.src('16/9_1/12_sm_retina')}} 2x">
				<img src="{{img.src('16/9_1/12_lg')}}" class="img-fluid" alt="{{img.caption}}">
			</picture>
    </figure>
  {% endfor %}
</div>
